<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
<body class="row">
  <div class="col-6">
    <div class="camera-display col-sm-6">
      <img src="{{img}}"/>
      <div id="actions">
        <button class="a"><img src="./assets/images/pokeball.png" width="40px" height="45px" (click)="capturar()"> </button>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="stats-display">
      <h1>Pokédex</h1>
      <h2 *ngIf="pokemonName != undefined">{{ pokemonName.charAt(0).toUpperCase() + pokemonName.slice(0) }}</h2>
      <h2>Pokémon ID: #{{ id }}</h2>
      <br>
      <h3>Type</h3>
      <ul>
        <li *ngIf="types1[0] != undefined">{{ types1[0].charAt(0).toUpperCase() + types1[0].slice(1) }}</li>
        <li *ngIf="types2[0] != undefined">{{ types2[0].charAt(0).toUpperCase() + types2[0].slice(1) }}</li>
      </ul>
      <h3>Moves</h3>
      <ul>
        <li *ngIf="moves1[0] != undefined">{{ moves1[0].charAt(0).toUpperCase() + moves1[0].slice(1) }}</li>
        <li *ngIf="moves2[0] != undefined">{{ moves2[0].charAt(0).toUpperCase() + moves2[0].slice(1) }}</li>
      </ul>
    </div>

  </div>
</body>
